.card {
  border: solid 2px #3f3f37;
  background: #878472;
  border-radius: 5px;
  box-shadow: 2px 2px 3px gray;
  padding: 12px;
  color: black;
  width: 400px;
  margin: 10px;
}

a {
  text-decoration: none;
}
